@font-face {
  font-family: 'JetBrainsMono';
  src: url('../assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrainsMono';
}

#root {
  background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
